= render partial: "top_nav"

/ this is a comment to remove
.container
  %ul#facts.list-group

    - @facts.each do |fact|
      %li.list-group-item
        %article
          %h2= fact.heading.html_safe
          %p= fact.body.html_safe

        %aside
          %span= t 'source.label'
          = source_links_for fact

  = paginate @facts
