= render partial: "top_nav"

.container
  %ul#facts.list-group

    - @facts.each do |fact|
      %li.list-group-item
        %article.fact
          %h2= fact.heading.html_safe
          %p= fact.body.html_safe

        %aside.sources
          %span#source-label= t 'source.label'
          = source_links_for fact

  = paginate @facts
